<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>

  <MsmqTransportConfig
    InputQueue="EmployeeCreateACQueue"
    ErrorQueue="error"
    NumberOfWorkerThreads="1"
    MaxRetries="5"/>
  
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Messages" Endpoint="EmployeeCreationInputQueue"/> <!-- this must be the same as the publishing queue-->
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>